<!DOCTYPE html>
{% load static %}
<html>
    <head>
    <title>TPYeinydd</title>
        <meta charset="utf-8">
         
        <link rel="stylesheet" href="{% static 'css/style.css'%}">
        <style>
        </style>
         <script src="{% static 'js/script.js'%}"></script>
    </head>
    <body>
         <header>
              <h4><a class="YENYDD">YEINYDD</a></h4>
        <nav>
            <ul class="menu1">
                <li>HOME</li>
                <select>
                    <li>
               <option>PAGES</option>   
                <option>TDI</option>
                <option>TRI</option>
                    </li>
                </select>
                <select>
                <li>
                   <option> DROPDOWN</option>
                    <option>TRI</option>
                    <option>TDI</option>
                </li>
                </select>
                <li>LINK TEXT</li>
                <li>LINK TEXT</li>
                <li>LINK TEXT</li>
                <li>LONG LINK TEXT</li>
              
            </ul>
        </nav>
        </header>
            <h1>Quisque Adipiscing</h1>
            <p>Uma sed augue class aptent taciti soclosqu ad lltora torquent</p>
        <section>
            <article class="MARE">
                <img src="{%static 'image/im1.PNG'%}" alt="im1">
                <h1>Suspendisse</h1>
                <p>Par connbia nostra par mauris massa nulla facilisi porta ligula non elementum</p>
                <br>
                <button>MARE DETAILS</button>
              
            </article>
             <article class="MARE">
                <img src="{%static 'image/im2.PNG'%}" alt="im2">
                <h1>Inceptos</h1>
                <p>Ultricies justo urna egestas metus ut ornare leo augue pharetra risus morbi tincidunt massa</p>
                <br>
                <button>MARE DETAILS</button>
              
            </article>
             <article class="MARE">
                <img src="{%static 'image/20210112_223431.jpg'%}">
                <h1>Himenaeos</h1>
                <p>Ac vestibulum rutrum orci augue laculis nibh quis porta nunc nisi suscipit leo nam ac lacus</p>
                <br>
                <button>MARE DETAILS</button>
                <img src="{%static 'image/im4.PNG'%}" alt="im4">
            </article>
             <article class="MARE">
                  
                <h1>Facilisis</h1>
                <p>Crac tempor ultricies urna aliquam massa sapien posuere in laculis adipiscing vulputate</p>
                <br>
                <button>MARE DETAILS</button>
              
            </article>
        </section>
           <nav class="nav">
                 <lu class="Text">
                     <dt><img src="{%static 'image/im5.PNG'%}" alt="im5"><b>Give us a call:</b></dt><dd>+00(123)4567890</dd>
                        </lu>
                     <br>
                     <br>
                     <br>
                       <lu class="Text">
                     <dt><img src="{%static 'image/im6.PNG'%}" alt="im6"><b> Send us a mail:</b></dt>
                     <dd>support@domain.com</dd><br>
                           </lu>
                     <br>
                     <br>
                     <br>
                      <lu class="Text">
                          <dt><img src="{%static 'image/im7.PNG'%}" alt="im7"><b>Monday - Saturday:</b></dt> <dd>08.00am - 18.00pm</dd>
                          </lu>
                      <br>
                      <br>
                      <br>
                       <lu class="Text">
                           <dt><img src="{%static 'image/im8.PNG'%}" alt="im8"><b>Come visit us:</b></dt> <dd>Direction to our location</dd>
               </lu>
        </nav>
        <footer>
        Copyright C 2021 - All Rights Reserved - Domain Name 
        </footer>
    </body>
</html>